{
  "openapi": "3.0.3",
  "info": {
    "title": "Ironclad Public API",
    "description": "Documentation for Ironclad's REST API.",
    "contact": {
      "name": "Ironclad Support",
      "email": "support@ironcladapp.com"
    },
    "version": "1"
  },
  "servers": [
    {
      "url": "https://ironcladapp.com/public/api/v1",
      "description": "Production server"
    },
    {
      "url": "https://eu1.ironcladapp.com/public/api/v1",
      "description": "EU Production server"
    },
    {
      "url": "https://demo.ironcladapp.com/public/api/v1",
      "description": "Demo server"
    },
    {
      "url": "https://preview.ironcladapp.com/public/api/v1",
      "description": "Preview Server"
    }
  ],
  "paths": {
    "/workflows": {
      "post": {
        "summary": "Create a Workflow Synchronously",
        "description": "Launch a new Workflow synchronously.",
        "operationId": "launch-a-new-workflow",
        "requestBody": {
          "$ref": "#/components/requestBodies/WorkflowLaunch"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WorkflowLaunchResponse200"
          },
          "400": {
            "$ref": "#/components/responses/WorkflowLaunchResponse400"
          }
        },
        "tags": [
          "Workflows"
        ]
      },
      "get": {
        "summary": "List All Workflows",
        "description": "List all workflows in your Ironclad account.",
        "operationId": "list-all-workflows",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter the workflows that are listed based on their status. If this parameter is omitted, `active` workflows will be returned. Active workflows include workflows in the Create, Review, Sign, and Archive stages.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused",
                "completed",
                "cancelled"
              ]
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "Filter workflows to a specific Template ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastUpdated",
            "in": "query",
            "description": "Retrieve workflows that have been updated since a UTC date.",
            "schema": {
              "type": "string"
            }
          }, 
          {
            "name": "filter",
            "in": "query",
            "description": "Filter workflows using a formula. The workflow attribute ID should be enclosed in brackets `[ ]` and the value should be enclosed in single quotes `' '`.\n\nWorkflow attributes for a specific workflow design can be identified using the [List All Workflow Schemas](https://developer.ironcladapp.com/reference/list-all-workflow-schemas) endpoint.\n\nSupported formula operations include:\n\n<ul>\n  <li><code>Equals</code></li>\n  <li><code>Contains</code></li>\n  <li><code>And</code></li>\n  <li><code>Or</code></li>\n</ul>\nFor more information on writing formulas, please refer to\n<a href=\"https://ironcladapp.com/formulas/#company%20display%20name\">this article</a>.",
            "schema": {
              "type": "string"
            },
            "example": "Equals([counterpartyName], 'Harley Quinn')"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 0
                    },
                    "count": {
                      "type": "integer",
                      "example": 1234,
                      "default": 0
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowResponseModel"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/async": {
      "post": {
        "summary": "Create a Workflow Asynchronously",
        "description": "Launch a new Workflow asynchronously for non-blocking performance, which is helpful when/if you provide files to the Workflow.",
        "operationId": "create-a-new-workflow-async",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AsyncWorkflowLaunchResponse200"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/async/{asyncJobId}": {
      "get": {
        "summary": "Retrieve the Status of an Async Workflow Create Job",
        "description": "Check the status of a Workflow you created while using the [Create a Workflow Async](https://developer.ironcladapp.com/reference/create-a-workflow-sync-vs-async#create-a-new-workflow-async) route.",
        "operationId": "retrieve-asynchronous-workflow-status",
        "parameters": [
          {
            "name": "asyncJobId",
            "in": "path",
            "description": "The identifier provided in the response of creating a Workflow asynchronously.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AsyncWorkflowStatusResponse200"
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "not found"
                    },
                    "param": {
                      "type": "string",
                      "example": "parameter identifier"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}": {
      "get": {
        "summary": "Retrieve a Workflow",
        "description": "View the data associated with a specific workflow",
        "operationId": "retrieve-a-workflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string",
              "example": "abcd1234"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/approvals": {
      "get": {
        "summary": "List All Workflow Approvals",
        "description": "Returns a list of approvals for the workflow. The `approvalGroups` property will display only triggered approvals (i.e. conditional approvals that have not been triggered will not appear).",
        "operationId": "list-all-workflow-approvals",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string",
              "example": "abcd1234"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflowId": {
                      "type": "string",
                      "example": "5f595f76c4fc9b3571413c3ac"
                    },
                    "title": {
                      "type": "string",
                      "example": "Consulting Agreement with Michael Scott Paper Company"
                    },
                    "approvalGroups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reviewers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "example": "finance"
                                },
                                "displayName": {
                                  "type": "string",
                                  "example": "Finance"
                                },
                                "reviewerType": {
                                  "type": "string",
                                  "example": "role"
                                },
                                "status": {
                                  "type": "string",
                                  "example": "pending"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "legal"
                          },
                          "displayName": {
                            "type": "string",
                            "example": "Legal"
                          },
                          "assignees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "userName": {
                                  "type": "string",
                                  "example": "Boba Fett"
                                },
                                "userId": {
                                  "type": "string",
                                  "example": "63d415e0dd0d828c3a878548"
                                },
                                "email": {
                                  "type": "string",
                                  "example": "bobafett@gmail.com"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/approval-requests": {
      "get": {
        "summary": "Retrieve the Approval Requests on a Workflow",
        "description": "Returns a list of approval requests that have taken place on the workflow.",
        "operationId": "approval-requests",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "name": "actorDetails",
            "in": "query",
            "description": "An optional boolean parameter that adds additional information about the actor to each item in the response. Defaults to false.",
            "schema": {
              "type": "boolean",
              "example": false,
              "default": false
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 20
                    },
                    "count": {
                      "type": "integer",
                      "example": 42
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "startTime": {
                            "type": "string",
                            "example": "2022-09-20T15:51:54.156Z"
                          },
                          "endTime": {
                            "type": "string",
                            "example": "2022-09-28T19:21:05.034Z"
                          },
                          "status": {
                            "type": "string",
                            "example": "approved"
                          },
                          "actorId": {
                            "type": "string",
                            "example": "6334b636b9fb1eb6e76ada97"
                          },
                          "actorType": {
                            "type": "string",
                            "example": "User"
                          },
                          "actorDetails": {
                            "type": "object",
                            "example": {
                              "userName": {
                                "type": "string",
                                "example": "Cave Johnson"
                              },
                              "userEmail": {
                                "type": "string",
                                "example": "cave@aperturescience.com"
                              }
                            }
                          },
                          "role": {
                            "type": "string",
                            "example": "approver58348a760b354ab3a986f56a74656c86"
                          },
                          "roleName": {
                            "type": "string",
                            "example": "CEO"
                          },
                          "approvalType": {
                            "type": "string",
                            "example": "Workflow"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "workflow does not exist"
                    },
                    "param": {
                      "type": "string",
                      "example": "workflowId"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/approvals/{roleId}": {
      "patch": {
        "summary": "Update Approval on a Workflow",
        "description": "Updates an approval to the specified status. Approvals can only be updated during the Review step.",
        "operationId": "update-workflow-approval",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string",
              "example": "abcd1234"
            },
            "required": true
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "The unique identifier of the approver role whose status should be changed. This identifier can be retrieved using the `GET /workflows/{id}/approvals` endpoint.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user",
                  "status"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "description": "The Ironclad user approving the workflow. The user must be currently assigned as the approver.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "The Ironclad user's email address.",
                        "example": "fett@intergalactic.com"
                      },
                      "type": {
                        "type": "string",
                        "description": "The mechanism of identifying the Ironclad user's account.",
                        "default": "email"
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": ["approved","pending"],
                    "description": "The new approval status."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_PARAM"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "This role does not exist in this workflow", 
                        "invalid user for user attribute", 
                        "This approval either was not requested or this user was not assigned to this approval"
                      ],
                      "example": "This role does not exist in this workflow"
                    },
                    "param": {
                      "type": "string",
                      "example": "approval"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/turn-history": {
      "get": {
        "summary": "Retrieve the Turn History on a Workflow",
        "description": "An array of objects for each turn on a workflow.",
        "operationId": "turn-history",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 20
                    },
                    "count": {
                      "type": "integer",
                      "example": 42
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "turnParty": {
                            "type": "string",
                            "example": "internal"
                          },
                          "turnStartTime": {
                            "type": "string",
                            "example": "2022-09-20T15:51:54.156Z"
                          },
                          "turnLocation": {
                            "type": "string",
                            "example": "manual change"
                          },
                          "turnUserId": {
                            "type": "string",
                            "example": "5f89b6a5eed2cc6e0b2735d4"
                          },
                          "turnEndTime": {
                            "type": "string",
                            "example": "2022-09-28T19:21:05.034Z"
                          },
                          "turnNumber": {
                            "type": "integer",
                            "example": 1
                          },
                          "turnUserEmail": {
                            "type": "string",
                            "example": "baldwin@ironcladhq.com"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "workflow does not exist"
                    },
                    "param": {
                      "type": "string",
                      "example": "workflowId"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/signatures": {
      "get": {
        "summary": "List All Workflow Signers",
        "description": "Returns a list of workflow signers and the status of their signature.",
        "operationId": "list-all-workflow-signers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflowId": {
                      "type": "string",
                      "example": "6dac47a10b1242d1f7df688d"
                    },
                    "title": {
                      "type": "string",
                      "example": "Goldendoodle Adoption Contract"
                    },
                    "signers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "Jimothy Kim"
                          },
                          "email": {
                            "type": "string",
                            "example": "jimothykim@gmail.com"
                          },
                          "roleName": {
                            "type": "string",
                            "example": "Counterparty Signer"
                          },
                          "signatureStatus": {
                            "type": "string",
                            "example": "sent"
                          },
                          "delegates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Kim Lam"
                                },
                                "email": {
                                  "type": "string",
                                  "example": "kimlam@gmail.com"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_STATE"
                    },
                    "message": {
                      "type": "string",
                      "example": "This workflow is not at the Sign step, and is currently at the Review step"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/participants": {
      "get": {
        "summary": "List All Workflow Participants",
        "description": "Returns a list of workflow participants.",
        "operationId": "list-all-workflow-participants",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "name": "email",
            "in": "query",
            "description": "The Ironclad user's email address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 20
                    },
                    "count": {
                      "type": "integer",
                      "example": 1
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string",
                            "example": "61968ae4945dcecf4a78cc83"
                          },
                          "email": {
                            "type": "string",
                            "example": "boba@intergalactic.com"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFoundResponse404"
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/revert-to-review": {
      "patch": {
        "summary": "Revert a Workflow to the Review Step",
        "description": "Reverts a workflow to the Review step. Only workflows sourced from Workflow Designer and in the Sign step can be reverted.",
        "operationId": "revert-to-review",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          { "$ref": "#/components/parameters/XAsUserEmail" },
          { "$ref": "#/components/parameters/XAsUserId" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user",
                  "status"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "description": "The Ironclad user reverting the workflow to the Review step. The user must be a participant on the workflow.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "The Ironclad user's email address.",
                        "example": "jango@intergalactic.com"
                      },
                      "type": {
                        "type": "string",
                        "description": "The mechanism of identifying the Ironclad user's account.",
                        "default": "email"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204"
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "INVALID_PARAM",
                        "INVALID_STATE"
                      ],
                      "example": "INVALID_STATE"
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "invalid user for user attribute",
                        "workflow was not built in workflow designer and cannot be reverted to review via the API",
                        "workflow cannot be reverted to review as it is not in the sign stage",
                        "various malformed user payload messages"
                      ],
                      "example": "workflow cannot be reverted to review as it is not in the sign stage"
                    },
                    "param": {
                      "type": "string",
                      "example": "user"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "user is not a participant on the workflow"
                    },
                    "param": {
                      "type": "string",
                      "example": "user"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "workflow does not exist"
                    },
                    "param": {
                      "type": "string",
                      "example": "workflowId"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/comment": {
      "post": {
        "deprecated": true,
        "summary": "Create a Comment on a Workflow",
        "description": "Creates a comment in the specified workflow's activity feed.",
        "operationId": "deprecated-create-a-comment-on-a-workflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "creator",
                  "comment"
                ],
                "properties": {
                  "creator": {
                    "$ref": "#/components/schemas/CreatorEmailModel"
                  },
                  "comment": {
                    "type": "string",
                    "description": "The comment text to add, accepts user mentions in the form of <@user_id_or_email>."
                  },
                  "addUsersToWorkflow": {
                    "type": "boolean",
                    "description": "Must be set to true if mentioning users who are not participants on the workflow."
                  },
                  "repliedToActivityFeedMessageId": {
                    "type": "string",
                    "description": "Use to specify the comment to reply to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": ["Workflows"]
      }
    },
    "/workflows/{id}/comments": {
      "post": {
        "summary": "Create a Comment on a Workflow",
        "description": "Creates a comment in the specified workflow's activity feed.",
        "operationId": "create-a-comment-on-a-workflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["creator", "comment"],
                "properties": {
                  "creator": {
                    "$ref": "#/components/schemas/CreatorEmailModel"
                  },
                  "comment": {
                    "type": "string",
                    "description": "The comment text to add, accepts user mentions in the form of <@user_id_or_email>."
                  },
                  "addUsersToWorkflow": {
                    "type": "boolean",
                    "description": "Must be set to true if mentioning users who are not participants on the workflow."
                  },
                  "repliedToActivityFeedMessageId": {
                    "type": "string",
                    "description": "Use to specify the comment to reply to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentActivityModel"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": ["Workflows"]
      }
    },
    "/workflows/{id}/attributes": {
      "patch": {
        "summary": "Update Workflow Metadata",
        "description": "The workflow must be in the Review step in order for its data to be updated. Use the `remove` action to clear field values and the `set` action to add or modify values. Form validation is enforced; required fields cannot be removed and any required fields triggered by conditions must be populated.",
        "operationId": "update-workflow-metadata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          { "$ref": "#/components/parameters/XAsUserEmail" },
          { "$ref": "#/components/parameters/XAsUserId" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "updates": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "type": "string",
                          "enum": ["set", "remove"],
                          "description": "The type of action you'd like to take on an existing attribute (read-only fields cannot be updated). Use the remove action to clear values. If using the remove action, the attribute cannot be required by the workflow.",
                          "default": "set"
                        },
                        "path": {
                          "type": "string",
                          "description": "The workflow attribute id that you'd like to make a change to. Workflow attribute IDs and values can be retrieved using the [Retrieve a Workflow](https://developer.ironcladapp.com/reference/retrieve-a-workflow) endpoint.",
                          "example": "counterpartyName"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value to change the attribute to. Only required when the `action` property is `set` and not `remove`. The value's format must conform to the field type (e.g., `\"someString\"` for strings, `true` or `false` for booleans, etc.",
                          "example": "Example Company"
                        }
                      },
                      "required": ["action", "path"]
                    }
                  },
                  "comment": {
                    "type": "string",
                    "description": "A comment that explains the updates you are making to the workflow.",
                    "example": "Changing attribute on a Workflow."
                  }
                },
                "required": ["updates"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "6013609108b8f070cee94fc1"
                    },
                    "ironcladId": {
                      "type": "string",
                      "example": "IC-1"
                    },
                    "title": {
                      "type": "string",
                      "example": "Consulting Agreement with Jane Doe"
                    },
                    "template": {
                      "type": "string",
                      "example": "600b296c3e15a234ab88f884"
                    },
                    "step": {
                      "type": "string",
                      "example": "Review"
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "counterpartyName": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "string"
                            },
                            "displayName": {
                              "type": "string",
                              "example": "Example String Attribute"
                            }
                          }
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "number"
                            },
                            "displayName": {
                              "type": "string",
                              "example": "Example Number Attribute"
                            }
                          }
                        },
                        "fee": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "monetaryAmount"
                            },
                            "displayName": {
                              "type": "string",
                              "example": "Example Monetary Amount Attribute"
                            }
                          }
                        },
                        "draft": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "array"
                            },
                            "elementType": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "document"
                                },
                                "displayName": {
                                  "type": "string",
                                  "example": "Example Document Attribute"
                                }
                              }
                            }
                          }
                        },
                        "lineItems": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "array"
                            },
                            "elementType": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "object"
                                },
                                "displayName": {
                                  "type": "string",
                                  "example": "Example Object Attribute"
                                },
                                "schema": {
                                  "type": "object",
                                  "properties": {
                                    "childAttribute": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "displayName": {
                                          "type": "string",
                                          "example": "Example String Attribute"
                                        }
                                      }
                                    },
                                    "anotherChildAttribute": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "displayName": {
                                          "type": "string",
                                          "example": "Example String Attribute"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "counterpartyName": {
                          "type": "string",
                          "example": "Boba Fett"
                        },
                        "amount": {
                          "type": "integer",
                          "example": 123,
                          "default": 0
                        },
                        "fee": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "amount": {
                              "type": "integer",
                              "example": 50000,
                              "default": 0
                            }
                          }
                        },
                        "draft": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "version": {
                                "type": "string",
                                "example": "B1QePArXb"
                              },
                              "filename": {
                                "type": "string",
                                "example": "file.pdf"
                              },
                              "download": {
                                "type": "string",
                                "example": "/public/api/v1/workflows/594356b9fbcd7f74006fdf8a/document/rJklwCHQ/download"
                              }
                            }
                          }
                        }
                      }
                    },
                    "isCancelled": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "isComplete": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "status": {
                      "type": "string",
                      "example": "active"
                    },
                    "creator": {
                      "type": "object",
                      "properties": {
                        "displayName": {
                          "type": "string",
                          "example": "Boba Fett"
                        },
                        "email": {
                          "type": "string",
                          "example": "fett@intergalactic.com"
                        },
                        "id": {
                          "type": "string",
                          "example": "63d415e0dd0d828c3a878548"
                        }
                      }
                    },
                    "created": {
                      "type": "string",
                      "example": "2016-11-17T00:37:22.318Z"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "example": "2016-11-17T00:37:22.318Z"
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "legal"
                          },
                          "displayName": {
                            "type": "string",
                            "example": "Legal"
                          },
                          "assignees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "userName": {
                                  "type": "string",
                                  "example": "Boba Fett"
                                },
                                "userId": {
                                  "type": "string",
                                  "example": "63d415e0dd0d828c3a878548"
                                },
                                "email": {
                                  "type": "string",
                                  "example": "bobafett@gmail.com"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "approvals": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string",
                          "example": "in_progess"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://ironcladapp.com/public/api/v1/workflows/22e2ff72-56a1-4711-a4ca-41328d311e9f/approvals"
                        }
                      }
                    },
                    "signatures": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string",
                          "example": "in_progess"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://ironcladapp.com/public/api/v1/workflows/6dac47a10b1242d1f7df688d/signatures"
                        }
                      }
                    },
                    "recordIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "715f1e37-292f-4e6c-8b48-c07e1b68bccd"
                      }
                    },
                    "isRevertibleToReview": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "param": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "noInformationChanged": {
                    "summary": "No information changed",
                      "value": {
                        
                        "code": "INVALID_PARAM",
                        "message": "No information changed. The updates provided did not introduce any new values",
                        "param": "attributes"
                      }
                  },
                  "invalidParamNonExistentAttribute": {
                    "summary": "Non-existent attribute specified",
                      "value": {
                        
                        "code": "INVALID_PARAM",
                        "message": "non-existent attribute(s) specified: someRandomAttribute",
                        "param": "attributes"
                      }
                  },
                  "invalidParamFormValidationFailed": {
                    "summary": "Form validation failed",
                    "description": "Form validation may fail if (1) a required conditional field is triggered but not populated by your request (2) the value does not conform to the expected field type (e.g., sending strings to number fields).",
                    "value": { 
                      "code": "INVALID_PARAM",
                      "message": "form validation failed, please check schema",
                      "param": "attributes"
                    }
                  },
                  "invalidParamReadOnlyField": {
                    "summary": "Read-only attribute",
                    "description": "Cannot patch read-only attribute someRandomFunctionAttribute",
                    "value": { 
                      "code": "INVALID_PARAM",
                      "message": "Cannot patch read-only attribute someRandomFunctionAttribute",
                      "param": "attributes"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "message": {
                      "type": "string",
                      "example": "access forbidden"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "not found"
                    },
                    "param": {
                      "type": "string",
                      "example": "parameter identifier"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/document/{key}/download": {
      "get": {
        "summary": "Retrieve a Workflow Document",
        "description": "Download a document associated with a specific workflow via a reference to its document key",
        "operationId": "retrieve-a-workflow-document",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier or Ironclad ID of a workflow.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "key",
            "in": "path",
            "description": "The unique identifier for the attachment. This key can be located using the [Retrieve a Workflow](https://developer.ironcladapp.com/reference/retrieve-a-workflow) endpoint. In the response, locate the file attribute (e.g., `draft`) and look at its `download` parameter. The download parameter includes the key at the end of the URL `.../document/{ATTACHMENT_KEY}/download`",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/workflows/{id}/emails": {
      "get": {
        "summary": "Retrieve Email Threads from A Workflow",
        "description": "List all email threads in the specified workflow",
        "operationId": "retrieve-email-threads-from-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          },
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmailsResponse200" 
          },
          "404": {
            "$ref" : "#/components/responses/WorkflowNotFoundResponse404"
          }
        },
        "tags": ["Workflows"]
      }
    },
    "/workflows/{id}/emails/{emailThreadId}": {
      "get": {
        "summary": "Retrieve an Email Thread from a Specified Workflow",
        "description": "List a single email thread for a specified workflow",
        "operationId": "retrieve-email-thread-from-workflow",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          },
          {
            "$ref": "#/components/parameters/EmailThreadId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmailResponse200"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowOrEmailNotFoundResponse404"
          }
        },
        "tags": ["Workflows"]
      }
    },
    "/workflows/{id}/emails/{emailThreadId}/attachments/{attachmentId}": {
      "get": {
        "summary": "Retrieve an Attachment from an Email Thread",
        "description": "Retrieve an attachment from the specified email thread",
        "operationId": "retrieve-attachment-from-email-thread",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowId"
          },
          {
            "$ref": "#/components/parameters/EmailThreadId"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The unique identifier for the attachment. This key can be located using the [Retrieve email threads from workflow](https://developer.ironcladapp.com/reference/retrieve-emails) endpoint. In the response, locate the file attribute (e.g., `attachments`) and look at its `download` parameter. The download parameter includes the key at the end of the URL `...emails/{emailThreadId}/attachment/{ATTACHMENT_ID}`",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFoundResponse404"
          }
        },
        "tags": ["Workflows"]
      }
    },
    "/workflow-schemas": {
      "get": {
        "summary": "List All Workflow Schemas",
        "description": "Returns a list of workflow schemas. Each schema specifies the fields used in the workflow's launch form.",
        "operationId": "list-all-workflow-schemas",
        "parameters": [
          {
            "name": "form",
            "in": "query",
            "description": "The launch form is the only form supported at this time.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "launch"
            }
          },
          { "$ref": "#/components/parameters/XAsUserEmail" },
          { "$ref": "#/components/parameters/XAsUserId" }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "a1b2c3d4"
                          },
                          "name": {
                            "type": "string",
                            "example": "MNDA"
                          },
                          "schema": {
                            "type": "object",
                            "properties": {
                              "counterpartyName": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "displayName": {
                                    "type": "string",
                                    "example": "Example String Attribute"
                                  }
                                }
                              },
                              "amount": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "number"
                                  },
                                  "displayName": {
                                    "type": "string",
                                    "example": "Example Number Attribute"
                                  }
                                }
                              },
                              "fee": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "monetaryAmount"
                                  },
                                  "displayName": {
                                    "type": "string",
                                    "example": "Example Monetary Amount Attribute"
                                  }
                                }
                              },
                              "draft": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "array"
                                  },
                                  "elementType": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "document"
                                      },
                                      "displayName": {
                                        "type": "string",
                                        "example": "Example Document Attribute"
                                      }
                                    }
                                  }
                                }
                              },
                              "lineItems": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "array"
                                  },
                                  "elementType": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "object"
                                      },
                                      "displayName": {
                                        "type": "string",
                                        "example": "Example Object Attribute"
                                      },
                                      "schema": {
                                        "type": "object",
                                        "properties": {
                                          "childAttribute": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "example": "string"
                                              },
                                              "displayName": {
                                                "type": "string",
                                                "example": "Example String Attribute"
                                              }
                                            }
                                          },
                                          "anotherChildAttribute": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "example": "string"
                                              },
                                              "displayName": {
                                                "type": "string",
                                                "example": "Example String Attribute"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "permissions": {
                            "type": "array",
                            "example": ["launch", "view"],
                            "items": {
                                "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "MISSING_PARAM"
                    },
                    "message": {
                      "type": "string",
                      "example": "reason why something has gone wrong"
                    },
                    "param": {
                      "type": "string",
                      "example": "parameter identifier"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Workflows"]
      }
    },
    "/workflow-schemas/{id}": {
      "get": {
        "summary": "Retrieve a Workflow Schema",
        "description": "Returns the fields used in the workflow's launch form.",
        "operationId": "retrieve-a-workflow-schema",
        "parameters": [
          {
            "description": "The unique identifier of a schema (see explanation of [Template ID](https://developer.ironcladapp.com/reference/getting-started-api)). A list of identifiers can be retrieved using the `GET /workflow-schemas` endpoint. Only published workflows will have an identifier. ",
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "form",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "launch"
            }
          },
          { "$ref": "#/components/parameters/XAsUserEmail" },
          { "$ref": "#/components/parameters/XAsUserId" }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "6013609108b8f070cee94fc1"
                    },
                    "name": {
                      "type": "string",
                      "example": "MNDA"
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "counterpartyName": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "string"
                            },
                            "displayName": {
                              "type": "string",
                              "example": "Example String Attribute"
                            }
                          }
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "number"
                            },
                            "displayName": {
                              "type": "string",
                              "example": "Example Number Attribute"
                            }
                          }
                        },
                        "fee": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "monetaryAmount"
                            },
                            "displayName": {
                              "type": "string",
                              "example": "Example Monetary Amount Attribute"
                            }
                          }
                        },
                        "draft": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "array"
                            },
                            "elementType": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "document"
                                },
                                "displayName": {
                                  "type": "string",
                                  "example": "Example Document Attribute"
                                }
                              }
                            }
                          }
                        },
                        "lineItems": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "array"
                            },
                            "elementType": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "object"
                                },
                                "displayName": {
                                  "type": "string",
                                  "example": "Example Object Attribute"
                                },
                                "schema": {
                                  "type": "object",
                                  "properties": {
                                    "childAttribute": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "displayName": {
                                          "type": "string",
                                          "example": "Example String Attribute"
                                        }
                                      }
                                    },
                                    "anotherChildAttribute": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "displayName": {
                                          "type": "string",
                                          "example": "Example String Attribute"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "permissions": {
                      "type": "array",
                      "example": ["launch", "view"],
                      "items": {
                          "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "param": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "notFound": {
                    "summary": "Non-existent template id.",
                    "value": {
                      "code": "NOT_FOUND",
                      "message": "workflow  template schema not found",
                      "param": "templateId"
                    }
                  },
                  "invalidParam": {
                    "summary": "Invalid query parameter.",
                    "value": {
                      "code": "INVALID_PARAM",
                      "message": "invalid query value 'randomRequest'; value must be one of [launch]",
                      "param": "/?form"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Workflows"
        ]
      }
    },
    "/records": {
      "get": {
        "summary": "List All Records",
        "description": "View all records in the company, with filtering available via query parameters",
        "operationId": "list-all-records",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryPageNumber"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/RecordType"
          },
          {
            "$ref": "#/components/parameters/RecordLastUpdated"
          },
          {
            "$ref": "#/components/parameters/RecordFilter"
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "The field to sort Records. Only one field is supported in the sort operation.",
            "schema": {
              "type": "string",
              "enum": [
                "agreementDate",
                "name",
                "lastUpdated"
              ],
              "default": "agreementDate"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "The direction the records are sorted by in correlation with the `sortField`.",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20,
                      "default": 0
                    },
                    "count": {
                      "type": "integer",
                      "example": 1234,
                      "default": 0
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RecordModel"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "Records"
        ]
      },
      "post": {
        "summary": "Create a Record",
        "description": "Create a contract record by specifying its intended metadata properties",
        "operationId": "create-a-record",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "name",
                  "properties"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of record to be created. You can view available record types by retrieving records metadata."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the record."
                  },
                  "properties": {
                    "type": "object",
                    "description": "Object containing key/value pairs of metadata attached to the record. The key you specify must have a value with a supported type as outlined in the Supported Property Types section.",
                    "properties": {
                      "agreementDate": {
                        "type": "object",
                        "description": "The date of the agreement.",
                        "properties": {
                          "type": {
                            "type": "string",
                            "default": "date"
                          },
                          "value": {
                            "type": "string",
                            "description": "UTC date (e.g. `2018-05-08T00:00:00-07:00`)"
                          }
                        }
                      },
                      "counterpartyName": {
                        "type": "object",
                        "description": "The name of the counterparty.",
                        "properties": {
                          "type": {
                            "type": "string",
                            "default": "string"
                          },
                          "value": {
                            "type": "string",
                            "description": "The name of the counterparty."
                          }
                        }
                      }
                    }
                  },
                  "links":  {
                    "type": "array",
                    "items": {
                      "$ref":  "#/components/schemas/RecordPropertyLinkModel"
                    }
                  },
                  "parent": {
                    "type": "object",
                    "description": "Object containing Record IDs or Ironclad IDs to be set as the parent of the current record.",
                    "properties": {
                      "recordId": {
                        "type": "string",
                        "example": "17009e0d-z2e9-425d-a85b-1cf152773efg"
                      }
                    }
                  },
                  "children" : {
                    "type": "array",
                    "description": "List of objects containing the Record IDs or Ironclad IDs of the records to be set as child records of the current record.",
                    "items": {
                      "$ref": "#/components/schemas/RecordPropertyLinkModel"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordModel"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "param": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidRecordType": {
                    "summary": "Unknown record type.",
                    "value": {
                      "code": "INVALID_PARAM",
                      "message": "unknown record type my_nonexistent_record_type",
                      "param": "type"
                    }
                  },
                  "invalidRecordProperty": {
                    "summary": "Unknown record property.",
                    "value": {
                      "code": "INVALID_PARAM",
                      "message": "unknown property my_nonexistent_record_property",
                      "param": "properties.my_non_existent_record_property"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Records"
        ]
      }
    },
    "/records/smart-import": {
      "get": {
        "summary": "Retrieve Predictions",
        "description": "Retrieve status of predictions of specific smart import record or all records in an import, one of Record Id or Import Id is required.",
        "operationId": "retrieve-import-predictions",
        "parameters": [
          {
            "name": "recordId",
            "in": "query",
            "description": "The ID of the Record for prediction status.",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "importId",
            "in": "query",
            "description": "The ID of the Import for prediction statuses.",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recordId": {
                            "type": "string",
                            "example": "df1c2805-f5a3-4a14-9386-c28d950dff49"
                          },
                          "status": {
                            "type": "string",
                            "enum": ["ready", "pending", "errored"]
                          }
                        }
                      },
                      "example": {
                        "recordId": "461aa9a3-5984-4553-b8ab-56a1786c2f44",
                        "status": "ready"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recordId": {
                            "type": "string",
                            "example": "df1c2805-f5a3-4a14-9386-c28d950dff49"
                          },
                          "status": {
                            "type": "string",
                            "enum": ["ready", "pending", "errored"]
                          }
                        }
                      },
                      "example": [
                        {
                          "recordId": "461aa9a3-5984-4553-b8ab-56a1786c2f44",
                          "status": "ready"
                        },
                        {
                          "recordId": "6392dd09-814d-4def-97d9-8fe8badcf6ce",
                          "status": "pending"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidRecordType": {
                    "summary": "Missing Record Id or Import Id from query.",
                    "value": {
                      "code": "INVALID_PARAM",
                      "message": "missing required form-data part 'recordId' or 'importId"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "outOfSmartImportCredits": {
                    "summary": "Smart Imports not enabled for company.",
                    "value": {
                      "code": "FORBIDDEN",
                      "message": "Reading smart import records not allowed for company with id invalid-company-id "
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidImportId": {
                    "summary": "Record Id is invalid or does not exist",
                    "value": {
                      "code": "NOT_FOUND",
                      "message": "couldn't find predictions for the record: invalid-record-id"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Records"]
      },
      "post": {
        "summary": "Create a Smart Import Record",
        "description": "Upload a file to create a record with smart import and predictions.  Provide none of recordType, newRecordTypeId, or newRecordTypeDisplayName to default to Imported type.",
        "operationId": "create-a-smart-import-record",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["attachment"],
                "properties": {
                  "attachment": {
                    "type": "string",
                    "format": "binary",
                    "description": "Must be a binary. Base64 is not accepted at this time."
                  },
                  "recordType": {
                    "type": "string",
                    "format": "string",
                    "default": "imported",
                    "description": "Upload a smart import record as an existing record type.  Cannot provide alongside newRecordTypeId and newRecordTypeDisplayName. Defaults to Imported."
                  },
                  "newRecordTypeId": {
[...]
